src/main/mule/observers/mulesoft-exercise-observer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="mulesoft-exercise-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mulesoft-exercise-config" api="resource::3a1db951-7d0f-4c22-8fbf-a70973a81d5a:mulesoft-exercise:1.0.3:raml:zip:mulesoft-exercise.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="19868516" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="a9a468f0-7bce-4c0f-bd35-80e3bcbc1315" flowRef="mulesoft-exercise-main" />
	<flow name="mulesoft-exercise-main">
        <http:listener config-ref="mulesoft-exercise-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mulesoft-exercise-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mulesoft-exercise-console">
        <http:listener config-ref="mulesoft-exercise-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mulesoft-exercise-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\users:mulesoft-exercise-config">
        <flow-ref doc:name="Initialize data" doc:id="428b463a-8f39-43e1-9c42-ee4576575c0f" name="InitializeDataFlow" />
        <flow-ref doc:name="Get users" doc:id="77452a28-e565-40a7-82f6-cd8e78559c93" name="sf-get-users-orchestrator" />
    </flow>
    <flow name="post:\users:application\json:mulesoft-exercise-config">
        <ee:transform doc:name="Set user" doc:id="a67c430a-4dae-4a5e-bc87-def0643c29b4">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="user"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Initialize data" doc:id="a7274743-4e99-44bf-b459-6042b43806c5" name="InitializeDataFlow" />
        <flow-ref doc:name="Create user" doc:id="03721359-fcb0-45f7-bd9c-9a5ccee45915" name="sf-create-user-orchestrator" />
    </flow>
    <flow name="InitializeDataFlow" initialState="started" doc:id="2343c2fa-eea6-4dbd-9183-4f9c9b5f7b81">
        <os:contains doc:name="Contains" doc:id="735a68bd-3a3f-4241-89ad-2b7d23692cb1" key="1" objectStore="Object_store" />
        <choice doc:name="Choice" doc:id="6c2974ad-351b-46a6-bb47-65c27a3f8c73">
            <when expression="#[payload != true]">
                <os:store doc:name="Store user 1" doc:id="abcf7652-6ae9-4ad8-94b4-4723fec8b960" key="1" objectStore="Object_store">
                    <os:value><![CDATA[#[{'id':'1', 'name': 'John Doe', 'email': 'john.doe@example.com'}]]]></os:value>
                </os:store>
                <os:store doc:name="Store user 2" doc:id="501f699d-8223-407d-bbe5-14701850823b" key="2" objectStore="Object_store">
                    <os:value><![CDATA[#[{'id':'2', 'name': 'Jane Smith', 'email': 'jane.smith@example.com'}]]]></os:value>
                </os:store>
                <os:store doc:name="Store user 3" doc:id="8db86542-ffea-46ab-b7bc-cfd9e4eafbe4" key="3" objectStore="Object_store">
                    <os:value><![CDATA[#[{'id':'3', 'name': 'Joan Smith', 'email': 'joan.smith@example.com'}]]]></os:value>
                </os:store>
                <logger message="Data initialized successfully." level="INFO" doc:name="Log Completion" />
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger" doc:id="65725567-cfa7-483f-a351-9ff14a1a6ffc" message="Data already loaded" />
            </otherwise>
        </choice>
    </flow>
</mule>
